.profile {
    background: white;
    padding: 0 30px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 20px;
}

.name{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-top: 10px;
}

.email {
    font-size: 16px;
}

.role {
 font-size: 13px;
 margin-bottom: 20px;
}