* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html, body, #__next {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.mb20 {
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
  padding-bottom: 30px;
}

.searchBar .input {
  width: 400px;
}

.section {
  display: flex;
  border: 1px solid rgba(224, 224, 224, 1);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.active {
  background-color: #54d62c29;
  color: #229a16;
  padding: 3px 6px;
  border-radius: 10px;
}

.inactive {
  padding: 3px 6px;
  border-radius: 10px;
  background-color: #ff484229;
  color: #b72136;
}

.ellipse {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: red;
}