.form {
    background: white;
    padding: 0 30px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
}
.tableContainer{
    width: 100%;
    overflow-x: auto;
    margin-bottom: 24px;
}

.added{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.added > p {
    font-weight: bold;
    font-size: 20px;
}

.table{
    width: 100%;
    border-spacing: 5px 15px;
    border-collapse: separate;
    min-width: 800px;
}
.header{
    background: red;
    width: 100%;
}

.picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputGroups {
    display: flex;
    gap: 20px;
    width: 100%;
}



.inputFile{
    display: none;
}

.buttons{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 0 50px;
}

.button{
    min-width: 200px;
}

.amountTitle{
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}

.title{
    font-size: 28px;
    font-weight: bold;
    padding: 50px 0 20px;
    width: 100%;
    border-bottom: 1px solid #e2e2e1;
}

.divider{
    width: 100%;
    height: 1px;
    background-color:  #e2e2e1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.uploadFile{
    width: 80px;
    height: 80px;
    border: 2px dotted #5b27ed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.previewImage {
    width: 80px;
    height: 80px;
    border: 2px dotted #5b27ed;
    border-radius: 100%;
}

.modalTitle{
    position: relative;
}

.deleteIcon{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;

}


.rut{
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 20px;
}




